.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
    font-family: "Poppins", sans-serif;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.action{
    text-align: right;
}

.action button{
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #932c04;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 1rem;
}

.action button:hover,
.action button:active {
    background-color: #2c1310;
    color: white;
} 
.action .button--alt{
    border: none;
    background-color: transparent;
    color: #2c1310;
}






/* 
.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

.cart-items li:last-child {
  border-bottom: none;
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: #363636;
}

.cart-item .summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item .price {
  font-weight: bold;
  color: #8a2b06;
}

.cart-item .amount {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: #363636;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.action {
  text-align: right;
}

.action button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  font-weight: bold;
  margin-left: 1rem;
  transition: all 0.3s ease;
}

.action .button--alt {
  color: #8a2b06;
}

.action .button {
  background-color: #8a2b06;
  color: white;
}

.action button:hover,
.action button:active {
  background-color: #641e03;
  border-color: #641e03;
  color: white;
} */
