.button{
    background-color: #932c04;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 0.75rem 3rem;
    cursor: pointer;
    font: inherit;
    /* font-size: 1.25rem; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* box-shadow: 0 2px 8px rgba(0,0,0,0.26); */
    /* transition: all 0.3s ease; */
}
    .button:hover,
    .button:active {
        background-color: #2c0d00;
    }
.icon{
    /* width: 1rem; */
    /* height: 1rem; */
    /* height:0.5rem; */
    margin-right: 0.5rem;
    margin-top:0.2rem;
}

.badge{
    background-color:  #932c04;
    /* color: white; */
    border-radius: 12px;
    padding: 0.25rem 1rem;
    /* font-size: 0.75rem; */
    font-weight: bold;
    margin-left: 1rem;
}

.button:hover .badge,
.button:active .badge {
    background-color: #9e5b3a;
}